<div class="divSkills">
<button type="button" class="btn btn-success btn-lg btn-block" placement="bottom"
        ngbPopover="Always Focused in Objectives, Keys and Results (OKR). My quotes: Make it Simple, Don't Stop Innovating, 
        Don't do it only Fine, Don't accept things the way they are and Do it Differently" popoverTitle="Acquiring Business Manager">
  Payments Strategy Executor
</button>
<button type="button" class="btn btn-success btn-lg btn-block" placement="bottom"
        ngbPopover="Give Merchants what they really need to improve their sales, then engage them to your digital channels with easy and useful tools
        so finally you can monetize this strong relationship" popoverTitle="Customer Experience Manager">
  Merchants Experience Manager
</button>
<button type="button" class="btn btn-success btn-lg btn-block" placement="bottom"
        ngbPopover="Working as Product Owner making project development easy for stakeholders and teams, managing expectatives 
        and prioritaties" popoverTitle="Product Owner Certified">
  Agile Management Believer
</button>
<button type="button" class="btn btn-success btn-lg btn-block" placement="top"
        ngbPopover="Data is the new oil, but most important than Data, what you can do with it to help others is" 
        popoverTitle="Data Science Certified">
  Data Science Practicioner
</button>
<button type="button" class="btn btn-success btn-lg btn-block" placement="top"
        ngbPopover="Maths are key to play an important role in the future of Artificial Intelligence, add computer science engineering skills to it and you will be a master piece in any project" 
        popoverTitle="Computational Maths Graduating">
  Computational Maths Student
</button>
<button type="button" class="btn btn-success btn-lg btn-block" placement="top"
        ngbPopover="What you can build with your hands it is exponentially more valuable because you understand how difficult it is 
        to create great digital products" popoverTitle="Full Stack Certified">
  Full Stack Developer
</button>
<button type="button" class="btn btn-success btn-lg btn-block" placement="top"
        ngbPopover="Sustainable Economy is the next challengue for business but even more for planet" popoverTitle="Green Economy Certified">
  Sustainability Development Defender
</button>
<button type="button" class="btn btn-success btn-lg btn-block" placement="top"
        ngbPopover="Old videogames are my passion and interest, I relax understanding how to build them" popoverTitle="RetroGames Reader">
  RetroVideogames Player & Developer Passionate
</button>
</div>

