<div class="header">
    <div class="card">
           <div class="card-body">
               <img src="https://republicadelbranding.files.wordpress.com/2011/12/atari2.jpg" 
               height="200px" width="250px" alt="Atari Retro">
             <h6>Welcome to my personal web page<br> I'm Urtzi Arana, a 80's son who loves playing and developing old videogames
             <br> But games are only a hobby... <br> You can learn more about my skills, experience and interests here </h6> 
           </div>
               <div class="card-footer">
                   <a href="https://twitter.com/urtziarana?ref_src=twsrc%5Etfw" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false">Twitter</a> 
                   <a href="https://github.com/UrtziFM" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false">GitHub</a>
                   <a href="https://gitlab.com/UrtziFM" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false">GitLab</a>
                   <a href="https://medium.com/@Urtziarana13" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false">Medium</a>
                   <a href="https://docs.google.com/drawings/d/16SHG1AzfIgaW9HDVl_0s3DKzFXEfFlw5tvAX74jfcOM/edit?usp=sharing" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false">Lean CV</a>
                   <a href="https://www.linkedin.com/in/urtzi-arana-santamaria-aa1810ba" class="btn btn-primary" data-toggle="button" aria-pressed="false">Linkedin</a>
               </div>
    </div>
     <button class="btn btn-primary" type="button" disabled>
       <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
       Connecting to Atari...
     </button>
</div>