.header {
    background-color: rgb(95, 97, 94);
    text-align: center;
    font-size: 1.1rem;
    border: 2px solid black;
    border-radius: 0px;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
}
.card {
    background-color: rgb(130, 133, 130);
    text-align: center;
    font-size: 1.1rem;
    border: 2px solid black;
    border-radius: 10px;
    color: whitesmoke;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 5%;
    width: 70%;
}

a {
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(95, 97, 94);
    color: whitesmoke;
}

img {
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;

}

h4 {
    font-size: 1.1rem;
    color: whitesmoke;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}



