@media (min-width: 768px) {
    .header {
        background-color: rgb(65, 170, 17);
        text-align: center;
        font-size: 1.1rem;
        border: 2px solid black;
        border-radius: 10px;
        color: whitesmoke;
        display: flex;
        flex-direction: row;
    }
    .card {
        background-color: rgb(25, 170, 25);
        text-align: center;
        font-size: 1.1rem;
        border: 2px solid black;
        border-radius: 10px;
        color: whitesmoke;
        margin-left: 10%;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 5%;
        width: 70%;
    }
    
    a {
        margin: 5px;
    }
    
    img {
        border: 2px solid black;
        border-radius: 10px;
        margin: 5px;
    }
    }
    
    @media (max-width: 767px) {
        .header {
            background-color: rgb(65, 170, 17);
            text-align: center;
            border: 2px solid black;
            border-radius: 10px;
            color: whitesmoke;
            display: flex;
            flex-direction: column;
        }
        .card {
            background-color: rgb(25, 170, 25);
            text-align: center;
            border: 2px solid black;
            border-radius: 10px;
            color: whitesmoke;
            margin-left: 10%;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-right: 10%;
            width: 80%;
        }
        a {
            margin: 5px;
            font-size: 0.9rem;
        }
        img {
            border: 2px solid black;
            border-radius: 10px;
            margin: 5px;
        }
        h4 {
            font-size: 1rem;
        }
        }