<div class="header">
    <div class="card">
           <div class="card-body">
               <img src="https://media-exp1.licdn.com/dms/image/C4D03AQFtUZNErp7Imw/profile-displayphoto-shrink_400_400/0/1616884262584?e=1664409600&v=beta&t=wZnKGgzcfEpWeEcxz3BDfcTc9y7EcED80zyHJsgKE_g" 
               height="200px" width="200px" alt="Urtzi Foto Familia">
             <h4>Welcome to my personal web page<br> I'm Urtzi Arana<br> 80's Son</h4> 
           </div>
               <div class="card-footer">
                   <a href="https://twitter.com/urtziarana?ref_src=twsrc%5Etfw" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false">Twitter</a> 
                   <a href="https://github.com/UrtziFM" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false">GitHub</a>
                   <a href="https://gitlab.com/UrtziFM" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false">GitLab</a>
                   <a href="https://medium.com/@Urtziarana13" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false">Medium</a>
                   <a href="https://docs.google.com/drawings/d/16SHG1AzfIgaW9HDVl_0s3DKzFXEfFlw5tvAX74jfcOM/edit?usp=sharing" class="btn btn-outline-primary" data-toggle="button" aria-pressed="false">Lean CV</a>
                   <a href="https://www.linkedin.com/in/urtzi-arana-santamaria-aa1810ba" class="btn btn-primary" data-toggle="button" aria-pressed="false">Linkedin</a>
               </div>
    </div>
     <button class="btn btn-primary" type="button" disabled>
       <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
       Loading...
     </button>
</div>