<div class="card">
  <div class="card text-center">
    <img src="../../assets/SaintGames.png" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">This is the studio where my passion about game development shows up
        <br>It's only a hobby, it helps me to relax and learn from the basics of programming, maths & video games
        <br>So if you want to see how I'm doing and you love to play computer games...
      </p>
      <a href="https://www.urtziongames.com" class="btn btn-primary">Go to Play</a>
    </div>
  </div>
</div>