.card {
    width: 100%;
    background-color: rgb(130, 133, 130);
    border-radius: 0px;
}
img {
    margin-top: 1%;
    height: 50vh;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 10px;

}
.card-text {
    color: white;
    background-color: rgb(95, 97, 94);
    padding: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    border: 3px solid black;
}
